$backgroundColor: #F4F4F4;
$backgroundColorHeader: #2D2727;
$backgroundColorAside: #EBEBEB;
$textColor :#968E8C;
$titleColor :#333333;
$mainRed: #EC1D23;
$mainWhite :#FFFFFF;
$borderGray :#CCCCCC;
$darkGray: #DCDCDC;
$softGray :#F0F0F0;
$darkCoffe: #322827;
$softCoffe: #3D3332;
