<div class="random-comics">
    <div class="modal-header">
        <div class="row header-modal">
            <div class="col-xs-12">
                <span class="sprite sprite-btn-close" ng-click="randomComicsCtrl.close()"></span>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-4 comic-image" ng-repeat="comic in randomComicsCtrl.comics">
            <img ng-src="{{randomComicsCtrl.getComicImage(comic)}}" class="img-thumbnail" />
        </div>
    </div>
    <div class="row actions">
        <div class="col-sm-12 action-container">
            <button class="btn btn-default" ng-click="randomComicsCtrl.addComicsToFavourites()">
              <i class="sprite sprite-btn-favourites-default"></i><span >Add To Favourites</span>
            </button>
        </div>
    </div>
</div>
