<div class="loading-container">
    <img src="/images/balls.svg">
</div>
<div class="row search-input-container">
    <div class="input-group col-md-12 search-input">
        <input type="text" ng-model="charactersCtrl.filterText" class="form-control input-lg" placeholder="Search" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" />
        <span class="input-group-btn">
            <button class="btn btn-info btn-lg" type="button">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
</div>
<div class="row characters">
    <div class="col-sm-12 col-md-6" ng-repeat="character in charactersCtrl.characters">
        <div class="thumbnail">
            <div class="row">
                <div class="col-xs-5">
                    <img ng-src="{{charactersCtrl.getImage(character)}}" class="img-circle" />
                </div>
                <div class="col-xs-7">
                    <h4 class="character-name">{{character.name}}</h4>
                    <p class="character-description">{{character.description | limitTo : 100}}<span ng-if="character.description.length>100">...</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="cols-sm-12 text-center">
        <ul ng-if="charactersCtrl.paging.total > 10" uib-pagination total-items="charactersCtrl.paging.total" ng-model="charactersCtrl.paging.current" max-size="charactersCtrl.paging.maxPagesSize" ng-change="charactersCtrl.paging.onPageChanged()" class="pagination-sm"
            boundary-link-numbers="true" rotate="false"></ul>
    </div>
</div>
